@import ../../../styles/helpers

.title
    margin-bottom: 20px
    text-align: center

.info
    max-width: 455px
    margin: 0 auto 80px
    text-align: center
    color: $neutrals3
    +d
        margin-bottom: 64px
    +m
        margin-bottom: 32px
    +dark
        color: $neutrals6
